<h2>About Compass</h2>
<p>Compass has been designed with something very specific in mind: to be a simple and elegant personal landing page.</p>

<h2>Features</h2>
<ul>
    <li>Responsive design</li>
    <li>Mobile friendly</li>
    <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
    <li class="main-list-item">
        <span class="fa fa-github fa-lg main-list-item-icon"></span>
        <a href="https://github.com/bojne">My GitHub</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
        <a href="https://johann2022.tumblr.com/">San Francisco Story</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-user fa-lg main-list-item-icon"></span>
        <a href="http://excentris.net">The Author</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
        <a href="https://www.instagram.com/johann019/">Casual Story</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
        <a href="https://www.linkedin.com/in/%E5%B2%B3%E6%B6%B5-%E9%BB%83-631a83126/">Professional Profile</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
        <a href="https://www.facebook.com/bojne.john">Life</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-medium fa-lg main-list-item-icon"></span>
        <a href="https://medium.com/@Johann016">Writing</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-vsco fa-lg main-list-item-icon"></span>
        <a href="https://vsco.co/yuehan18">Photography</a>
    </li>
</ul>