<h2>Nice to meet you!</h2>
<p>I'm moving on with full passion. Learn to be a more knowledgeable human being. I recognize these traits will still last for the rest of my life, as I move from San Francisco, Seoul(Fal'19), Hyderabad(Spr'20), Berlin(Fal'20), Buenos Aires(Spr'21), London(Fal'21), Taipei(Spr'22) and
    the world.</p>

<hr />

<ul class="fa-ul main-list">
    <li class="main-list-item">
        <span class="fa fa-github fa-lg main-list-item-icon"></span>
        <a href="https://github.com/bojne">Code Projects</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
        <a href="https://johann2022.tumblr.com/">Stories in San Francisco</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
        <a href="https://www.linkedin.com/in/yh-huang/">Career Profile</a>
    </li>
    <li class="main-list-item">
        <i class="fa fa-facebook fa-lg main-list-item-icon"></i>
        <a href="https://www.facebook.com/bojne.john">Writing</a>
    </li>
    <li class="main-list-item">
        <i class="fa fa-medium fa-lg main-list-item-icon"></i>
        <a href="https://medium.com/@Johann016">Thoughful Writing</a>
    </li>
    <li class="main-list-item">
        <i class="fa fa-lightbulb-o fa-lg main-list-item-icon"></i>
        <a href="https://ideas.nctu.me/">Project Ideas</a>
    </li>
    
</ul>
