<h2>About Me</h2>
<p>I'm moving on with full passion. Learning, to be a more knowledgeable and experienced human being. I recognize this trait will still last for the rest of my life, as I move on to San Francisco, Seoul, Hyderabad, Berlin, Buenos Aires, London, Taipei and
    the world.</p>

<hr />

<ul class="fa-ul main-list">
    <li class="main-list-item">
        <span class="fa fa-github fa-lg main-list-item-icon"></span>
        <a href="https://github.com/bojne">My GitHub</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
        <a href="https://johann2022.tumblr.com/">San Francisco Story</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
        <a href="https://www.instagram.com/johann019/">Casual Story</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
        <a href="https://www.linkedin.com/in/%E5%B2%B3%E6%B6%B5-%E9%BB%83-631a83126/">Professional Profile</a>
    </li>
    <li class="main-list-item">
        <i class="fa fa-facebook fa-lg main-list-item-icon"></i>
        <a href="https://www.facebook.com/bojne.john">Life</a>
    </li>
    <li class="main-list-item">
        <i class="fa fa-medium fa-lg main-list-item-icon"></i>
        <a href="https://medium.com/@Johann016">Writing</a>
    </li>
</ul>
